@import "~vuetify/src/styles/styles.sass";
@import 'variables';
@import 'base';
@import 'personal-base';
@import 'responsive';


///////////////////// global ///////////////////////


                    /* limit size */

.parent {
  // padding-top: 3vh;
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
}
.section {
  padding-inline: 10% 10% !important;
  @media (max-width: 880px) {
    padding-inline: 1em !important;
  }
}
.sectionmobile {
  @media (max-width: 880px) and (max-height: 1180px) {
    padding-inline: 1em !important;
  }
}


                    /* scrollbar */

::-webkit-scrollbar {width: 10px}
::-webkit-scrollbar-thumb {
  border-radius: 1vmax;
  background-color: var(--clr-scroll) !important;
}


                    /* icons-active */

// .v-input__icon .primary--text {
//   color: #AD0FD5 !important;
// }

                    /* typography */

// a {text-decoration: none}
// h2:not(.notdefault-typography, .notdefault) {
//   font-weight: 600 !important;
//   color: $clr-btn !important;
//   margin-bottom: 16px !important;
//   line-height: 1 !important;
// }


                    /* other adjusts */

.v-select-list {
  @include btn;
  background-color: var(--color) !important;
  &:before {background-color: var(--bg) !important}
  & :is(.v-list-item--active, .v-list-item:hover) {background-color: transparent !important}
}

.primary--text {
  & i {color: $clr-btn2 !important}
  &::before {color: $clr-btn2 !important}
  & .v-input__slot::after {
    transform: scaleY(2.2) !important;background-color: $clr-btn !important;border-color: $clr-btn2 !important
  }
}

.v-select {
  i {color: var(--color)}
  .v-input__slot:before {transform: scaleY(2.2) !important;background-color: var(--color) !important}
}

.themeBtn {
  --size: 60px;
  --corner-size: .3em;
  background-color: #58595B;
  width: var(--size);
  height: calc(var(--size) / 2);
  isolation: isolate;
  clip-path: $clip-path;
  position: relative;
  &::before {
    content: "";
    @include absoluteCenter;
    width: calc(100% - var(--corner-size));
    height: calc(100% - var(--corner-size));
    clip-path: $clip-path;
    background-color: $clr-btn;
    z-index: -1;
    transition: 0.2s ease;
  }
  & .switch {
    --corner-size: .15em;
    --distance-dark: 20%;
    --distance-light: 50%;
    width: 19.13px;
    aspect-ratio: 1/1;
    background-color: #58595B;
    clip-path: $clip-path;
    transition: 0.2s ease;
    &:before {
      content: "";
      width: calc(19.13px - (var(--corner-size) + 3px));
      aspect-ratio: 1/1;
      clip-path: $clip-path;
    }
  }
  &.light .switch {
    @include absolute(var(--distance-light),0,auto,0);
    &:before {
      @include absolute(calc(var(--distance-light) - 35%),0,auto,0);
      background-color: #96E9D3;
    }
  }
  &.dark .switch {
    @include absolute(var(--distance-dark),0,auto,0);
    &:before {
      @include absolute(calc(var(--distance-dark) - 5%),0,auto,0);
      background-color: #EB92CA;
    }
  }
}

.images {
  --corner-size: .25em;
  --border-size: 3px;
  border: var(--border-size) solid var(--color);
  clip-path: $clip-path;
}
.btn {
  padding: .6em 2em;
  height: max-content;
  @include btn;
}
.btn2 {
  --border-size: 2px;
  clip-path: $clip-path;
  background-color: $clr-btn;
  border: var(--border-size) ridge #58595B;
  padding: .6em 2em;
  height: max-content;
  color: #58565b;
  span,i {color: #58565b}
}
.titulo {
  @media (max-width: 880px) and (max-height: 1180px) {
    font-weight: 400 !important;
  }
}
