@import "../../styles/app";

//global
// $containerW: 100px;
// $containerH: 100px;

// layout
.v-main__wrap {
  // padding: 4rem $content-padding 70px $content-padding;

  padding-inline: 0;
  padding-bottom: clamp(6rem, 8vh, 8rem);
  padding-top: clamp(3rem, 22vh , 8rem);
}
@media (max-height: 800px) {
  .v-main__wrap {
    padding-top: clamp(3rem, 17vh , 9rem);
  }
}
.fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0 0 0 0;
  z-index: 0;
}
.content {
  display: flex;
  align-items: flex-start;
}
#navbar {
  transition: 0.3s ease-in-out;
}
.close {
  width: 1.25rem;
  height: 1.25em;
  z-index: 2;
}
.buttonClose {
  transition: .5s ease-in-out;
}
.buttonClose:is(:hover, :focus):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-block: auto;
  margin-inline: -6px;
  padding: 13px;
  background-color: red;
  z-index: 0;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// header
#headerApp {
  transition: 0.4s ease-in-out;
}
.containerSwitchTheme {
  position: absolute;
  inset: 0 20% 0 20%;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 2px solid #000000;
  z-index: 1;
}
.containerSwitchThemeDark {
  position: absolute;
  inset: 0 20% 0 20%;
  background-color: #B7B89F;
  border-radius: 30px;
  border: 2px solid #FFFFFF;
  z-index: 1;
}
.switchTheme {
  position: absolute;
  left: 25%;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 20%;
  height: 70%;
  background-color: #000000;
  border-radius: 100%;
  z-index: 2;
  transition: 0.2s ease;
}
.switchThemeDark {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 20%;
  height: 70%;
  left: 55%;
  background-color: #FFFFFF;
  border-radius: 100%;
  z-index: 2;
  transition: 0.2s ease;
}
.openMenuHeader {
  cursor: pointer;
}


.containerMenuHeader {
  position: relative;
  min-width: clamp(100px, 200px + 10vw, 356px);
  min-height: 617px;
}
.triangulo {
  position: absolute;
  right: 25%;
  top: 5%;
  width: 30px;
  height: 20px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.cardMenuHeader {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  inset: 8% 0 0 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) !important;
  & .cardItems {
    position: relative;
    min-height: 5.1rem !important;
    .linea {
      position: absolute;
      bottom: 0%;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
      height: 1.5px;
    }
  }
}


.openMenuCollections {
  cursor: pointer;
}
.v-dialog {
  height: 550.5px;
  box-shadow: none !important;
}
.containerMenuCollections {
  width: 100%;
  height: 100%;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  // barrita de text field
  display: none;
}
#tableCollections {
  .v-data-table__wrapper > table > tbody > tr > td {
    border-bottom: none;
    position: relative;
    padding-block: 0.8em 0.5em;
  }
  .v-data-table__wrapper > table > thead > tr > th {
    border-bottom: none;
  }
}
.linea3 {
  position: absolute;
  inset: auto 0 11.48% 10%;
  height: 1.5px;
}
#botonSelection {
  padding-inline: 2px !important;
  min-width: auto !important;
}
.nft {
  width: 3.328125rem;
  height: 3.29375rem;
}
.linea2 {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 1.5px;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// footer
.v-footer {
  .row {
    justify-content: center;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
    }
  }
}
@media (max-width: 573px) and (max-height: 1180px) {
  .v-footer {
    aside:nth-child(1) {
      order: 2;
    }
    aside:nth-child(2) {
      order: 1;
    }
  }
}
