.error-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: center fixed no-repeat url("../../assets/backgroundNotFound.png");
  background-size: cover;
}
#containerNotFound {
  position: absolute;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text404 {
  font-style: normal;
  font-weight: bold !important;
  font-size: clamp(10rem, 22vw, 22rem) !important;
  background-color: #7BD7EB;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.textNotFound {
  font-style: normal;
  font-weight: bold !important;
  text-align: center;
  font-size: clamp(2rem, 3.6vw, 3.6rem) !important;
  color: var(--color);
}
#buttonNotFound {
  font-style: normal;
  font-weight: bold !important;
  font-size: 1.8rem !important;
  color: #fff !important;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.75rem;
  background-color: var(--color) !important;
  clip-path: polygon(
    0% var(--corner-size),
    var(--corner-size) var(--corner-size),
    var(--corner-size) 0%,
    calc(100% - var(--corner-size)) 0%,
    calc(100% - var(--corner-size)) var(--corner-size),
    100% var(--corner-size),
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    var(--corner-size) 100%,
    var(--corner-size) calc(100% - var(--corner-size)),
    0% calc(100% - var(--corner-size))
  );
  position: relative;
  isolation: isolate;
  padding: 0 !important;
  &::after {
    content: "";
    position: absolute;
    inset: auto;
    width: calc(100% - var(--corner-size));
    height: calc(100% - (var(--corner-size)));
    background-color: var(--colorBtn) !important;
    clip-path: polygon(
      0% var(--corner-size),
      var(--corner-size) var(--corner-size),
      var(--corner-size) 0%,
      calc(100% - var(--corner-size)) 0%,
      calc(100% - var(--corner-size)) var(--corner-size),
      100% var(--corner-size),
      100% calc(100% - var(--corner-size)),
      calc(100% - var(--corner-size)) calc(100% - var(--corner-size)),
      calc(100% - var(--corner-size)) 100%,
      var(--corner-size) 100%,
      var(--corner-size) calc(100% - var(--corner-size)),
      0% calc(100% - var(--corner-size))
    );
    z-index: -1;
  }
}
